@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* Header */

header {
    position: static;
    width: 100%;
}

.nav {
    background-color: #fff;
    padding: 0.5rem 4rem;
    height: 130px;
    width: 100%;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 46px;
    cursor: pointer;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list>li {
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #000;
}

.nav-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover {
    cursor: pointer;
    text-decoration: underline;
}

.dropdown-content {
    right: -50px;
    width: 145px;
    position: absolute;
    background-color: #F5F5F5;
    padding: 0.5rem;
    border-radius: 5px;
}

.hide {
    display: none;
}

/* Main */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin: 0;
    max-width: 100%;
    background-image: url('images/fond.jpg');
    background-repeat: no-repeat;
}

.main .exchange {
    width: 80%;
    height: 350px;
    padding: 10px;
    position: relative;
    border-radius: 30px;
    background-color: white;
}

/* Footer */

footer {
    width: 100%;
    height: 500px;
    background-color: #173B6E;
    color: #fff;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-top {
    height: 85%;
    width: 100%;
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #3D6BBD;
}

.footer-top-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-top-left img {
    width: 90px;
}

.footer-top-left div {
    font-size: 32px;
    font-weight: 600;
}

.footer-top-right {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.footer-list {
    height: 100%;
}

.footer-list>ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
}

.footer-list>ul li:nth-child(1) a {
    font-size: 24px !important;
    font-weight: 500 !important;
}

.footer-list>ul li {
    font-size: 14px;
    margin-bottom: 1.5rem;
}

.footer-list>ul>li>a {
    font-weight: 200;
    color: #fff !important;
}

.footer-bottom {
    height: 15%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-bottom-right img {
    margin-left: 0.5rem;
    width: 24px;
    height: 24px;
    margin-top: 5%;
}

.main .addexchange {
    position: absolute;
    top: 40%;
    right: 10%;
    background-color: white;
    padding: 13px;
    border: solid 2px #073C77;
    border-radius: 15px;
    width: 222px;
}

.plus {
    width: 22px;
    height: 22px;
    margin-left: 5px;
}

.ajout {
    margin-left: 15px;
    color: #073C77;
}

.ajout:hover {
    color: #073C77;
}

.card {
    width: fit-content;
}

.research {
    background-color: #073C77;
    color: white;
    padding: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 15px;
    border: none;
}

.product_field {
    background-color: #e6e6e6;
    color: #aaaaaa;
    border: none;
    padding: 1%;
    border-radius: 15px;
    width: 45%;
}

.localisation_field {
    background-color: #e6e6e6;
    color: #aaaaaa;
    border: none;
    padding: 1%;
    border-radius: 15px;
    width: 25%;
}

.category_field {
    background-color: #e6e6e6;
    color: #aaaaaa;
    border: none;
    padding: 1%;
    border-radius: 15px;
    width: 15%;
}