@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* Header */

header {
    position: static;
    width: 100%;
}

.nav {
    background-color: #fff;
    padding: 0.5rem 4rem;
    height: 130px;
    width: 100%;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 46px;
    cursor: pointer;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list>li {
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #000;
}

.nav-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover {
    cursor: pointer;
    text-decoration: underline;
}

.dropdown-content {
    right: -50px;
    width: 145px;
    position: absolute;
    background-color: #F5F5F5;
    padding: 0.5rem;
    border-radius: 5px;
}

.hide {
    display: none;
}

/* Main */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin: 0;
    width: 100%;
    background-image: url('images/fond.jpg');
    background-size: cover;
}

.main .exchange {
    width: 80%;
    height: 350px;
    padding: 10px;
    position: relative;
    border-radius: 30px;
    background-color: white;
}

/* Footer */

footer {
    width: 100%;
    height: 500px;
    background-color: #173B6E;
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-top {
    height: 85%;
    width: 100%;
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #3D6BBD;
}

.footer-top-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-top-left img {
    width: 90px;
}

.footer-top-left div {
    font-size: 32px;
    font-weight: 600;
}

.footer-top-right {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.footer-list {
    height: 100%;
}

.footer-list>ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
}

.footer-list>ul li:nth-child(1) a {
    font-size: 24px !important;
    font-weight: 500 !important;
}

.footer-list>ul li {
    font-size: 14px;
    margin-bottom: 1.5rem;
}

.footer-list>ul>li>a {
    font-weight: 200;
    color: #fff !important;
}

.footer-bottom {
    height: 15%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom-right img {
    margin-left: 0.5rem;
    width: 24px;
    height: 24px;
}

/* main */
.main .addexchange {
    position: absolute;
    top: 35%;
    right: 10%;
    background-color: white;
    padding: 13px;
    border: solid 2px #073C77;
    border-radius: 15px;
    width: 222px;
}

.plus {
    width: 22px;
    height: 22px;
    margin-left: 5px;
}

.ajout {
    margin-left: 15px;
    color: #073C77;
}

.ajout:hover {
    color: #073C77;
}

.card {
    width: fit-content;
}

.research {
    background-color: #073C77;
    color: white;
    padding: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 15px;
    border: none;
    display: flex;
    margin-left: 4%;
    margin-top: 5%;
}

.product_field {
    background-color: #e6e6e6;
    color: #aaaaaa;
    border: none;
    padding: 1%;
    border-radius: 15px;
    width: 45%;
}

.product_field:hover {
    border: none;
}

.localisation_field {
    background-color: #e6e6e6;
    color: #aaaaaa;
    border: none;
    padding: 1%;
    border-radius: 15px;
    width: 28%;
}

.localisation_field:hover {
    border: none;
}

.category_field {
    background-color: #e6e6e6;
    color: #aaaaaa;
    border: none;
    padding: 1%;
    border-radius: 15px;
    width: 15%;
    margin-left: 4%;
    margin-top: 4%;
}

.category_field:hover {
    border: none;
}

.test {
    display: inline;
}

.types {
    color: #073C77;
    margin-top: 4%;
    margin-left: 5%;
}

.types2 {
    color: #073C77;
    margin-top: 4%;
    margin-left: 5%;
}

.lestypes {
    display: flex;
}

.logoname {
    display: inline;
    margin-left: 20px;
    font-weight: bold;
}

.logoname:hover {
    text-decoration: none;
}

.hello {
    margin-top: -35%;
    left: 10%;
    position: absolute;
    font-weight: bold;
}

.imageuser{
    width: 5%;
    height: 5%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.bg{
    height: 150px;
    background-image: url('images/fond.jpg');
}

/* Create Product Page */

.form-container {
    padding-top: 8rem;

    background-image: url('images/fond.jpg');
    background-size: cover;
}

.form-create-product {
    width: 100%;
    height: 100%;
    padding: 2rem 10rem;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-submit {
    background-color: #073C77;
    color: white;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    margin-left: auto;
    margin-top: 2rem;
}

.form-input {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-input label {
    font-size: 16px;
    font-weight: 500;
    margin-top: 1rem;
}

.form-input input,
.form-input textarea {
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 10px;
    padding: 8px 16px;
}

.exchange_product_form {
    width: fit-content !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Login Page */

.login-main {
    height: 60vh;
    position: relative;
}

.background-container {
    z-index: -1;
    position: absolute;
    bottom: 0;
    height: 35vh;
    width: 100%;
    background-image: url('images/background_login_register.png');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-container {
    margin: 5% auto;
    padding: 1rem;
    width: 50%;
    background-color: #f8f8f8;
    border-radius: 20px;
}
