{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <div class="main">
        <div class="addexchange">
            <img src="../../static/auctions/images/plus.png" alt="plus" class="plus"><a href="{% url 'create_product' %}" class="ajout">Ajouter un article</a>
        </div>
        <div class="exchange">

            <form method="GET" action="{% url 'products' %}">
                {% csrf_token %}
                {% for field in form %}
                <div>
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}
                <input type="submit" value="Rechercher un article">
            </form>
        </div>
    </div>


{% endblock %}