{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link href="{% static 'auctions/style_listing.css' %}" rel="stylesheet">
        <link href="{% static 'auctions/style_wishlist.css' %}" rel="stylesheet">
        <link href="{% static 'auctions/style_categories.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.typekit.net/org5nrs.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Accueil</a></li>
                    <li><a href="{% url 'categories' %}">Catégories</a></li>
                    <li><a href="{% url 'listing_register' %}">Liste de souhaits</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
                        <li><a href="{% url 'create_listing' %}">Créer une enchère</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Se connecter</a></li>
                        <li><a href="{% url 'register' %}">S'inscrire</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
    <div class="under_body">
        {% block body %}
        {% endblock %}
    </div>
    </body>

</html>
