{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Swap'it{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/org5nrs.css">
</head>

<body>
    <header>
        <nav class="nav">
            <div class="leftpart">
                <a href="">
                    <img class="nav-logo" src="../../static/auctions/images/swapit_logo.png" alt="logo swap'it">
                </a>
            </div>
            <div class="middlepart">
                <ul class="nav-list">
                    <li><a href="{% url 'index' %}">Mode</a></li>
                    <li><a href="{% url 'index' %}">Maison</a></li>
                    <li><a href="{% url 'index' %}">Multimédia</a></li>
                    <li><a href="{% url 'index' %}">Loisirs</a></li>
                    <li><a href="{% url 'index' %}">Bricolage</a></li>

                </ul>
            </div>
            <div class="rightpart">
                <ul class="nav-list">
                    <li>
                        <a href="" class="nav-btn">
                            <img src="../../static/auctions/images/fav_icon.png" alt="heart">
                            <div>Favoris</div>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <div class="nav-btn dropdown-btn" onclick="toggleMenu()">
                                <img src="../../static/auctions/images/user_icon.png" alt="cart">
                                <div>Profil</div>
                            </div>
                            <div class="dropdown-content hide" id="dropdown-content">
                                {% if user.is_authenticated %}
                                <a href="{% url 'logout' %}">Se déconnecter</a>

                                {% else %}
                                <a href="{% url 'login' %}">Se connecter</a>
                                <a href="{% url 'register' %}">S'inscrire</a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="main">
        <div class="exchange">
            <a href="{% url 'create_product' %}">Créer un produit</a>
        </div>
    </div>
    <div class="under_body">
        {% block body %}
        {% endblock %}
    </div>

    <footer>
        <div class="footer-top">
            <div class="footer-top-left">
                <img src="../../static/auctions/images/swapit_logo.png" alt="">
                <div class="footer-top-left-title">Swap'it</div>
            </div>
            <div class="footer-top-right">
                <div class="footer-list">
                    <ul>
                        <li><a href="">Mode</a></li>
                        <li><a href="">Vêtements</a></li>
                        <li><a href="">Chaussures</a></li>
                        <li><a href="">Bijoux & Montres</a></li>
                        <li><a href="">Luxe & Tendance</a></li>
                        <li><a href="">Accessoires & Bagagerie</a></li>
                    </ul>
                </div>
                <div class="footer-list">
                    <ul>
                        <li><a href="">Maison</a></li>
                        <li><a href="">Ameublement</a></li>
                        <li><a href="">Électroménager</a></li>
                        <li><a href="">Arts de la table</a></li>
                        <li><a href="">Décoration</a></li>
                        <li><a href="">Linge de maison</a></li>
                    </ul>
                </div>
                <div class="footer-list">
                    <ul>
                        <li><a href="">Multimédia</a></li>
                        <li><a href="">Informatique</a></li>
                        <li><a href="">Consoles & Jeux vidéo</a></li>
                        <li><a href="">Image & Son</a></li>
                        <li><a href="">Téléphonie</a></li>
                    </ul>
                </div>
                <div class="footer-list">
                    <ul>
                        <li><a href="">Loisirs</a></li>
                        <li><a href="">DVD - Films</a></li>
                        <li><a href="">Livres</a></li>
                        <li><a href="">Vélos</a></li>
                        <li><a href="">Sports & Hobbies</a></li>
                        <li><a href="">Jeux & Jouets</a></li>
                    </ul>
                </div>
                <div class="footer-list">
                    <ul>
                        <li><a href="">Bricolage</a></li>
                        <li><a href="">Jardinage</a></li>
                        <li><a href="">Outils de bricolage</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-left">2023@tousdroitsréservés</div>
            <div class="footer-bottom-right">
                Rejoignez-nous sur :
                <img src="../../static/auctions/images/instagram_icon.png" alt="" srcset="">
                <img src="../../static/auctions/images/facebook_icon.png" alt="" srcset="">
            </div>
        </div>
    </footer>

    <script src="../../static/auctions/app.js" defer></script>
</body>

</html>