{% extends "auctions/layout.html" %}


{% block body %}

    <p><a href="/products?category={{ product.category.id }}">{{ product.category}}</a> &gt;

        <a href="/products?category={{ product.category.id }}&localisation={{ product.localisation }}">{{ product.localisation }}</a></p>

        <img src="{{ product.image }}" class="product_details">
        <p>{{ product.category }}</p>
        <p>{{ product.title }}</p>
        <p>{{ product.description }}</p>
        <p>{{ product.localisation }}</p>
        <p>{{ product.state }}</p>
        <p>{{ product.user }}</p>

        <a href="mailto: {{ product.user.email }}"><button>Contacter l'annonceur</button></a>

{% endblock %}
