{% extends "auctions/layout.html" %}


{% block body %}

    <p><a href="/products?category={{ product.category.id }}">{{ product.category}}</a> &gt;

        <a href="/products?category={{ product.category.id }}&localisation={{ product.localisation }}">{{ product.localisation }}</a></p>

        <img src="{{ product.image }}" class="product_details">
        <p>{{ product.category }}</p>
        <p>{{ product.title }}</p>
        <p>{{ product.description }}</p>
        <p>{{ product.localisation }}</p>
        <p>{{ product.state }}</p>

        {% if product.exchange == True%} {% comment %}Si l'annonce est une enchère alors on propose d'échanger{% endcomment %}
            <form action="" method="post">

                {% csrf_token %}

                <select name="products_user" id="products_user">
                    {% for product_user in products_user %}
                        <option value="{{ product_user.id }}">{{ product_user.title }}</option>
                    {% endfor %}
                </select>

                <button type="submit" value="J'échange">J'échange</button>

            </form>
        {% endif %}


        <p>{{ product.user }}</p>

        <a href="mailto: {{ product.user.email }}"><button>Contacter l'annonceur</button></a>

{% endblock %}
