{% extends "auctions/layout.html" %}

{% block body %}
<form method="GET" action="{% url 'products' %}">
    {{ search.as_p }}
    <input type="submit" value="Rechercher un article" class="research">
</form>


    <p>{{ no_result }}</p>


    {% for product in products %}
        <div class="card">

            <a href="{% url 'product_details' product.id %}">
                
                <p>{{ product.user }}</p>
                <img src="{{ product.image }}" class="product">

                {% if product.exchange == False %}

                    <p>Don</p>

                {% else %}

                    <p>Échange</p>

                {% endif %}
                <p>{{ product.category }}</p>
                <p>{{ product.title }}</p>
                <p>{{ product.localisation }}</p>
                <p>{{ product.date }}</p>

            </a>

        </div>

    {% endfor %}

{% endblock %}
