{% extends "auctions/layout.html" %}

{% block body %}

<form method="GET" action="{% url 'products' %}">
    {{ search.as_p }}
    <input type="submit" value="Search">
</form>

    {% for product in products %}

        <p>{{ product.user }}</p>
        <img src="{{ product.image }}" class="product">
        <p>{{ product.category }}</p>
        <p>{{ product.title }}</p>
        <p>{{ product.localisation }}</p>
        <p>{{ product.date }}</p>

    {% endfor %}

{% endblock %}

utilisateur

image

catégories

titre

lieu

date