{% extends "auctions/layout.html" %}

{% block body %}
    <div class="bg"></div>
    <div class="imageuserdiv">
        <img src="{{ request.user.image}}" class="imageuser">
    </div>  
    <p>{{ request.user }}</p>

    {% if request.user.noisettes > 0 %}

        <h2>Noisettes : {{ request.user.noisette }}</h2>

    {% else %}

        <h2>Noisette : {{ request.user.noisette }} </h2>

    {% endif %}

    <h2>Adresse</h2>

        <p>{{ request.user.email }}</p>
        <p>{{ request.user.phone }}</p>
        <p>{{ request.user.biography }}</p>
        <p>{{ request.user.rue }}</p>
        <p>{{ request.user.city }}</p>

{% endblock %}
